/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

body {
  font-family: var(--fs-base);
  font-weight: var(--fw-regular);
}

main {
  background-color: var(--clr-stone100); 
  width: var(--width-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
}


article {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  max-width: 725px; 
}

img {
  border-radius: 10px;
  margin-bottom: 25px;
}

#title p {
  margin-top: 10px;
}

section {
  padding: 20px;
}

h1,h2 {
  font-family: var(--fs-accent);
  font-weight: var(--fw-regular);
}

ul, ol {
  padding-left: 25px;
}

h1 {
  color: var(--clr-stone900);
  font-size: var(--font-header); 
  font-weight: var(--fw-black);
}

h2 {
  color: var(--clr-brown800);
  font-size: var(--font-sub-header);
  margin-bottom: 20px;
}

h3 {
  color: var(--clr-rose800);
  padding-left: 5px;
  padding-bottom: 10px
}

#preparation {
  background-color: var(--clr-rose50);
  margin: 20px;
}

#preparation ul {
  padding-left: 30px;
}

p, li, td {
  color: var(--clr-stone600);
  font: var(--fs-base);
  font-size: var(--font-paragraph);
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}


td {
  width: 50%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid var(--clr-stone150); 
}

td:first-child {
  padding-left: 30px;
}

tr:last-child td {
  padding-bottom: 0;
  border-bottom: none; 
}


li::marker {
  color: var(--clr-brown800);
}

ol li::marker {
  font-weight: var(--fw-bold);
}

ul li {
  padding-left: 15px;
  padding-bottom: 10px;
}

ol li {
  padding-left: 15px;
  padding-bottom: 10px;
}

strong {
  font-weight: var(--fw-bold);
}

#nutrition strong {
  color: var(--clr-brown800);
}



/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }